body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(0, 36, 53);
    color: rgb(255, 128, 128);
    display: flex; /* Используем Flexbox для размещения элементов */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем элементы по вертикали */
    padding: 5px; /* Отступы вокруг контейнера */
    margin: 0; /* Убираем отступы у блока */
    border-radius: 8px; /* Закругленные углы */
    font-size: 14px;
    min-width: 1624px; /* Минимальная ширина */
    transition: width 0.5s; /* Плавный переход */
}
h1, h2 {
    margin: 0; /* Убираем отступы по умолчанию */
}
h2 a {
    color: white; /* Цвет ссылки соответствует цвету текста */
    text-decoration: none; /* Убираем подчеркивание у ссылки */
}
h2 a:hover {
    text-decoration: underline; /* Подчеркиваем ссылку при наведении */
}
h3 {
    font-size: 14px;
    margin-left: 2pt;
}
.container {
    height: calc(100vh - 20px); /* Высота блока, исключая заголовок */
    width: 100%;
    min-height: 900px; /* Минимальная высота */
    display: flex; /* Устанавливаем grid-контейнер */
    /* Левый блок 20%, правый блок занимает оставшееся пространство */
    grid-template-columns: 15% 1fr;
}
.left-column {
    background-color: rgb(0, 36, 53); /* Цвет фона левого столбца */
    color: rgb(155, 222, 255);
    border: 1px solid white; /* Белая рамка */
    border-radius: 8px; /* Закругленные углы */
    padding: 5px; /* Отступы для формы */
    max-width: 350px; /* Максимальная ширина */
    min-width: 300px; /* Минимальная ширина */
    transition: width 0.5s; /* Плавный переход */
}
.right-column {
    padding: 10px; /* Отступы для формы */
    background-color: rgb(0, 36, 53); /* Цвет фона левого столбца */
    color: rgb(155, 222, 255);
    border: 1px solid white; /* Белая рамка */
    border-radius: 8px; /* Закругленные углы */
    min-width: 1300px; /* Минимальная ширина */
    transition: width 0.5s; /* Плавный переход */
}
.blockin {
    background-color: rgba(255, 255, 255, 0.1); /* Фоновый цвет формы с прозрачностью */
    padding: 5px; /* Отступы для формы */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
    font-size: 13px;
    border: 1px solid white; /* Белая рамка */
    color: white;
    position: relative;
}
.blockin-calc {
    background-color: rgba(255, 255, 255, 0.1); /* Фоновый цвет формы с прозрачностью */
    padding: 5px; /* Отступы для формы */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
    font-size: 13px;
    border: 1px solid white; /* Белая рамка */
    color: white;
    position: relative;
    display: none; /* Скрываем элемент */
    margin-top: 2pt;
}
.scrollable-box {
    background-color: rgb(0, 16, 32); /* Цвет фона левого столбца */
    width: 95%; /* Ширина блока */
    height: 150px; /* Высота блока */
    overflow-y: auto; /* Вертикальная прокрутка */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
    border: 1px solid white; /* Белая рамка */
    padding: 5px; /* Отступы внутри блока */
    font-size: 14px; /* Размер шрифта */
    color: white;
}
.right {
    width: 100%; /* Устанавливаем ширину 100% */
    height: 90%; /* Устанавливаем высоту 90% */
    color: rgb(155, 222, 255);
    position: relative;
    background: rgb(0,36,53);
}
.box img {
    width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Сохраняем пропорции изображения */
    margin-top: 10pt;
    margin-left: 0pt;
}
.input-short {
    width: 100px; /* Установите желаемую ширину */
    margin-left: 5px; /* Установите нужное значение отступа */
}
.label-spacing {
    margin-left: 10px; /* Установите нужное значение отступа */
}
.message-block {
    width: 90%; /* Установите желаемую ширину */
    position: relative;
}
canvas {
    margin-top: 5pt;
    border: 1px solid #000; /* Черная рамка */
    display: none; /* Скрываем элемент */
    border-radius: 8px; /* Закругленные углы */
}
.pressure {
    width: 97%; /* Устанавливаем ширину 100% */
    height: 30px; /* Устанавливаем высоту 90% */
    border: 1px solid #000;
    position: relative; /* Или absolute / fixed в зависимости от ваших нужд */
    background: rgb(190,210,150);
    /*top: 65%; /* Смещение вниз */
    /*left: 1%; /* Смещение вправо */
    margin-top: 5pt;
    margin-left: 5pt;
    color: black;
    border-radius: 8px; /* Закругленные углы */
    font-size: 10px;
    display: none; /* Скрываем элемент */
}
.show {
    display: block; /* Указываем что элемент будет отображаться */
}
