<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Bychkovski Vladimir">
  <title>Сalculations</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
  <h1>Добро пожаловать, <span th:text="${username}"></span></h1>
  <div class="blockin">
    <form action="/load" method="post" th:object="${headform}">
      <span class="label-spacing">Сохраненные параметры</span>
      <select th:field="*{selectMode}" class="input-short">
        <option value="">-- Выберите --</option>
        <option th:each="mode : ${headform.modes}" th:value="${mode.value}" th:text="${mode.name}"
                th:selected="${headform.getSelectMode() == mode.value}"></option>
      </select>
      <button type="submit" style="background-color: rgb(255, 255, 255);
       border-radius: 8px;font-size: 16px;">Отобразить
      </button>
    </form>
  </div>
  <h2><a href="/home?Logout">Выход</a></h2>
</header>
<div class="container">
  <div class="left-column">
    <h2 style="padding: 2px;">Параметры</h2>
    <div class="blockin">
      <form action="/home" method="post" th:object="${form}">
        <span class="label-spacing">Название:</span>
        <input type="text" name="nameSave" class="input-short" th:value="${form.getNameSave()}"
               minlength="1" maxlength="10"/><br/>
        <h3>Параметры трубопровода</h3>
        <span class="label-spacing">Длина (км):</span>
        <input type="number" name="lineLength" class="input-short"
               th:value="${form.getLineLength()}" min="1" max="10000" step="1"/><br/>
        <br><span class="label-spacing">Геодезическая отметка</span></br><span
        class="label-spacing">в начале участка (м):</span>
        <input type="number" name="pointStart" class="input-short"
               th:value="${form.getPointStart()}" min="1" max="1000" step="0.1"/><br/>
        <br><span class="label-spacing">Геодезическая отметка</span></br><span
        class="label-spacing">в конце участка (м):</span>
        <input type="number" name="pointEnd" class="input-short" th:value="${form.getPointEnd()}"
               min="1" max="1000" step="0.1"/><br/>
        <br><span class="label-spacing">Диаметр (мм):</span>
        <input type="number" name="diameter" class="input-short" th:value="${form.getDiameter()}"
               min="108" max="1020" step="0.1"/><br/>
        <h3 style="font-size: 14px; margin-left: 2pt;">Параметры нефтепродукта</h3>
        <span class="label-spacing">Плотность (кг/м<sup>3</sup>):</span>
        <input type="number" name="density" class="input-short" th:value="${form.getDensity()}"
               min="720" max="860" step="0.1"/><br/>
        <br><span class="label-spacing">Вязкость (сСт):</span>
        <input type="number" name="viscosity" class="input-short" th:value="${form.getViscosity()}"
               min="1" max="20" step="0.1"/><br/>
        <h3 style="font-size: 14px; margin-left: 2pt">Параметры насоса головной станции</h3>
        <span class="label-spacing">Марка насоса:</span>
        <select th:field="*{pumpBrand}" class="input-short">
          <option value="">-- Выберите --</option>
          <option value="brand1" th:value="'0'" th:text="'НМ1250-260'"
                  th:selected="${form.getPumpBrand() == '0'}"></option>
          <option value="brand2" th:value="'1'" th:text="'НМ2500-230'"
                  th:selected="${form.getPumpBrand() == '1'}"></option>
          <option value="brand2" th:value="'2'" th:text="'НМ3600-230'"
                  th:selected="${form.getPumpBrand() == '2'}"></option>
        </select><br/>
        <button type="submit" style="background-color: rgb(255, 255, 255);
       border-radius: 8px;font-size: 16px; margin-top: 10px;">Рассчитать режим
        </button>
        <div class="message-block">
          <p th:text="${message}" style="color: rgb(255, 128, 128); font-size: 16px"></p>
        </div>
      </form>
    </div>
    <div class="blockin-calc" th:classappend="${showPressure} ? 'show'">
      <h2 style="padding: 2px;color: rgb(155, 222, 255);">Расчеты</h2>
      <div class="scrollable-box" th:object="${result}">
        <p>Характеристика насоса:</p>
        <p>a - b * Q<sup>2</sup> = <span th:text="${result.getPomp_a()}"></span> -
          <span th:text="${result.getPomp_b()}"></span> * Q<sup>2</sup></p>
        <p>Толщина внутренней стенки трубы: <br>8 (мм)</p>
        <p>Площадь сечения трубопровода:
          <br><span th:text="${result.getSquareStr()}"></span> (м<sup>2</sup>)</p>
        <p>Напор подпорного агрегата:
          <br><span th:text="${result.getHead_booster()}"></span> (м)</p>
        <p>Напор магистрального агрегата:
          <br><span th:text="${result.getHead_main()}"></span> (м)</p>
        <p>Общий напор головной станции:
          <br><span th:text="${result.getTotalHead()}"></span> (м)</p>
        <p>Давление на головной станции:
          <br><span th:text="${result.getPres_out_headStr()}"></span> (кгс/см<sup>2</sup>)</p>
        <p>Общий напор в конечном пункте:
          <br><span th:text="${result.getTotalEnd()}"></span> (м)</p>
        <p>Давление в конечном пункте:
          <br><span th:text="${result.getPres_in_finalStr()}"></span> (кгс/см<sup>2</sup>)</p>
        <p>Производительность перекачки (Q):
          <br><span th:text="${result.getPerformance()}"></span> (м<sup>3</sup>/ч)</p>
        <p>Число Рейнольдса (Re):
          <br><span th:text="${result.getReynolds_number()}"></span> (м<sup>3</sup>/ч)</p>
        <p>Лямбда = <span th:text="${result.getLambda()}"></span></p>
      </div>
      <div style="display: flex; gap: 10px; margin-top: 5pt;">  <!-- Контейнер для форм -->
        <form action="/save" method="post" th:object="${saveForm}">
          <button type="submit" style="background-color: rgb(255, 255, 255);
           border-radius: 8px; font-size: 16px;"> Сохранить
          </button>
        </form>
        <form action="/export" method="post" th:object="${exportForm}">
          <button type="submit" style="background-color: rgb(255, 255, 255);
           border-radius: 8px; font-size: 16px;"> Экспорт в xls
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="right-column">
    <h2>Расчет режима работы трубопровода</h2>
    <div class="right">
      <div style="display: flex; gap: 5px;  /* расстояние между элементами */
      height: 65%; margin-top: 1pt;margin-left: 5pt;">
        <canvas style="width: 30%; background: rgb(222,226,228)"
                id="graph1" th:classappend="${showPressure} ? 'show'"></canvas>
        <canvas style="width: 67%; background: rgb(222,226,228)"
                id="graph2" th:classappend="${showPressure} ? 'show'"></canvas>
      </div>
      <div class="pressure" th:classappend="${showPressure} ? 'show'">
        <h2 style="margin-top:3px; margin-left: 5px;">Давление (кгс/см<sup>2</sup>) |
          <span th:text="'Pвых=' + ${presout}"></span>
          <span style="position: absolute; right: 5px;margin-top:3px;"
                th:text="'Pвх=' + ${presin}"></span>
        </h2>
      </div>
    </div>
  </div>
</div>
<script src="script.js"></script>
 <script>
   // Данные для первого графика
   const perfData = [[${perfData}]];
   const head_1 = [[${head_1}]];
   const head_2 = [[${head_2}]];
   const perfCur = [[${perfCur}]];
   const headCur = [[${headCur}]];
   // Нажимаем в браузере F12 переходим в console и можем смотреть значения логов
   // console.log(perf);
   // console.log(head_1);
   // console.log(head_2);
   if ((perfData && perfData.length > 0) && (head_1 && head_1.length > 0) &&
       (head_2 && head_2.length > 0) && perfCur && headCur) {
       drawGraph_1('graph1', perfData, head_1, head_2, perfCur, headCur, "Q-H Характеристика");
   }
   // Данные для второго графика
   const line_length = [[${line_length}]];
   const headData = [[${headData}]];
   const iforq = [[${iforq}]];
   if (line_length&&iforq && (headData && headData.length > 0)) {
       drawGraph_2('graph2', line_length, headData,iforq, "Линия гидравлического уклона");
   }
 </script>
</body>
</html>